doctype html
html
    head
        title Verification Error
    body(style="background-color: #333; color: #eee")
        p That key does not exist. The verification code may have expired; please click the button again to request a new one.