include ../mixins

doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="Official site of Shenhe Mains; discord.gg/shenhe; r/ShenheMains")
        meta(name="keywords", content="genshin,impact,shenhe,shen,he,mains,shenhemains,cloud,retainer")
        meta(name="author", content="Shenhe Mains Dev Team")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //- Discord Embed Stuff
        meta(property="og:title", content="Shenhe Mains")
        meta(property="og:description", content="Official site of Shenhe Mains; discord.gg/shenhe; r/ShenheMains")
        meta(property="og:url", content="https://shenhemains.com")
        meta(property="og:image", content="https://shenhemains.com/static/images/animated-banner.gif")
        meta(name="theme-color", data-react-helmet="true", content="#b9dff9")
        meta(name="twitter:card", content="summary_large_image")

        //- Favicon
        link(rel="shortcut icon", type="image/png", href="/static/images/favicon.png" + version)

        //- CSS
        +importCSS("/static/styles/global.css" + version)
        +importCSS("/static/styles/main.css" + version)

        //- External Styling
        +importCSS("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        +importCSS("https://fonts.googleapis.com/icon?family=Material+Icons")

        //- External Scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

        //- JavaScript
        script(src="/static/scripts/global.js" + version)
        script(src="/static/scripts/main.js" + version)

        //- Extra Dependencies
        block dependencies

        title= title
    body
        include navbar
        header
            for flash in flashes
                span.flash(style="display: none", data-category=flash.category)!= flash.message
            block header
        main
            block premain
            #top-background.main-background
            #mid-background.main-background
                block main
            #bot-background.main-background
            block postmain
        footer
            block footer
                center#footer
                    | &copy; 2022 Shenhe Mains | 
                    a(href="/dashboard/") Admin Login